In [47]:
import pandas as pd
base = pd.read_csv('census.csv')
base.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [48]:
base['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [49]:
def converte_classe(rotulo):
    if rotulo == ' >50K':
        return 1
    else:
        return 0

In [50]:
base['income'] = base['income'].apply(converte_classe)

In [51]:
base.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [52]:
base['income'].unique()

array([0, 1])

In [53]:
X = base.drop('income', axis = 1)

In [54]:
X.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [55]:
y = base['income']

In [56]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: income, dtype: int64

In [57]:
type(y)

pandas.core.series.Series

In [ ]:
%matplotlib inline
base.age.hist()

In [58]:
import tensorflow as tf

In [59]:
idade = tf.feature_column.numeric_column('age')

In [60]:
idade_categorica = [tf.feature_column.bucketized_column(idade, boundaries=[20,30,40,50,60,70,80,90])]

In [61]:
print(idade_categorica)

[_BucketizedColumn(source_column=_NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), boundaries=(20, 30, 40, 50, 60, 70, 80, 90))]

In [62]:
X.columns

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country'],
      dtype='object')

In [63]:
nome_colunas_categoricas = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex',
                           'native-country']

In [64]:
X['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [65]:
X['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [66]:
X['native-country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [67]:
colunas_categoricas = [tf.feature_column.categorical_column_with_vocabulary_list(key = c, vocabulary_list=X[c].unique()) for c in nome_colunas_categoricas]

In [68]:
print(colunas_categoricas[7])

_VocabularyListCategoricalColumn(key='native-country', vocabulary_list=(' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico', ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada', ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland', ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos', ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic', ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan', ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland', ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong', ' Ireland', ' Hungary', ' Holand-Netherlands'), dtype=tf.string, default_value=-1, num_oov_buckets=0)

In [69]:
nome_colunas_numericas = ['final-weight', 'education-num', 'capital-gain', 'capital-loos', 'hour-per-week']

In [70]:
colunas_numericas = [ tf.feature_column.numeric_column(key = c) for c in nome_colunas_numericas ]

In [71]:
print(colunas_numericas[1])

_NumericColumn(key='education-num', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)

In [72]:
colunas = idade_categorica + colunas_categoricas + colunas_numericas

In [73]:
from sklearn.model_selection import train_test_split
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X, y, test_size = 0.3)

In [74]:
X_treinamento.shape
type(X_treinamento)

pandas.core.frame.DataFrame

In [75]:
X_teste.shape
type(y_treinamento)

pandas.core.series.Series

In [76]:
funcao_treinamento = tf.estimator.inputs.pandas_input_fn(x = X_treinamento, y = y_treinamento,
                                                        batch_size = 32, num_epochs = None, shuffle = True)

In [77]:
classificador = tf.estimator.LinearClassifier(feature_columns=colunas)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp2faq53dd
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp2faq53dd', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f6ddb187be0>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [78]:
classificador.train(input_fn=funcao_treinamento, steps = 10000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmp2faq53dd/model.ckpt.
INFO:tensorflow:loss = 22.18071, step = 1
INFO:tensorflow:global_step/sec: 68.9924
INFO:tensorflow:loss = 17426.488, step = 101 (1.451 sec)
INFO:tensorflow:global_step/sec: 187.282
INFO:tensorflow:loss = 8058.8896, step = 201 (0.540 sec)
INFO:tensorflow:global_step/sec: 171.028
INFO:tensorflow:loss = 778.90247, step = 301 (0.582 sec)
INFO:tensorflow:global_step/sec: 175.012
INFO:tensorflow:loss = 38025.14, step = 401 (0.575 sec)
INFO:tensorflow:global_step/sec: 129.978
INFO:tensorflow:loss = 4519.9023, step = 501 (0.766 sec)
INFO:tensorflow:global_step/sec: 148.231
INFO:tensorflow:loss = 3520.4204, step = 601 (0.675 sec)
INFO:tensorflow:global_step/sec: 150.435
INFO:tensorflow:loss = 2536.0103, step = 701 (0.676 sec)
INFO:tensorflow:global_step/sec: 156.444
INFO:tensorflow:loss = 1103.656, step = 801 (0.627 sec)
INFO:tensorflow:global_step/sec: 136.465
INFO:tensorflow:loss = 15319.795, step = 901 (0.733 sec)
INFO:tensorflow:global_step/sec: 132.489
INFO:tensorflow:loss = 13104.128, step = 1001 (0.761 sec)
INFO:tensorflow:global_step/sec: 144.836
INFO:tensorflow:loss = 3867.5513, step = 1101 (0.685 sec)
INFO:tensorflow:global_step/sec: 143.084
INFO:tensorflow:loss = 7083.325, step = 1201 (0.700 sec)
INFO:tensorflow:global_step/sec: 141.385
INFO:tensorflow:loss = 4992.551, step = 1301 (0.714 sec)
INFO:tensorflow:global_step/sec: 114.351
INFO:tensorflow:loss = 1693.8452, step = 1401 (0.864 sec)
INFO:tensorflow:global_step/sec: 138.278
INFO:tensorflow:loss = 973.9387, step = 1501 (0.726 sec)
INFO:tensorflow:global_step/sec: 130.812
INFO:tensorflow:loss = 1210.6204, step = 1601 (0.769 sec)
INFO:tensorflow:global_step/sec: 153.641
INFO:tensorflow:loss = 834.17993, step = 1701 (0.660 sec)
INFO:tensorflow:global_step/sec: 129.891
INFO:tensorflow:loss = 8324.872, step = 1801 (0.754 sec)
INFO:tensorflow:global_step/sec: 143.909
INFO:tensorflow:loss = 4451.431, step = 1901 (0.699 sec)
INFO:tensorflow:global_step/sec: 146.404
INFO:tensorflow:loss = 1181.5469, step = 2001 (0.683 sec)
INFO:tensorflow:global_step/sec: 126.436
INFO:tensorflow:loss = 6234.9697, step = 2101 (0.792 sec)
INFO:tensorflow:global_step/sec: 148.323
INFO:tensorflow:loss = 4734.2354, step = 2201 (0.675 sec)
INFO:tensorflow:global_step/sec: 146.591
INFO:tensorflow:loss = 4748.17, step = 2301 (0.681 sec)
INFO:tensorflow:global_step/sec: 143.686
INFO:tensorflow:loss = 5414.7188, step = 2401 (0.692 sec)
INFO:tensorflow:global_step/sec: 109.411
INFO:tensorflow:loss = 2737.7368, step = 2501 (0.914 sec)
INFO:tensorflow:global_step/sec: 139.74
INFO:tensorflow:loss = 1634.5839, step = 2601 (0.715 sec)
INFO:tensorflow:global_step/sec: 127.596
INFO:tensorflow:loss = 6697.9053, step = 2701 (0.784 sec)
INFO:tensorflow:global_step/sec: 134.857
INFO:tensorflow:loss = 1156.9202, step = 2801 (0.760 sec)
INFO:tensorflow:global_step/sec: 143.981
INFO:tensorflow:loss = 5200.902, step = 2901 (0.678 sec)
INFO:tensorflow:global_step/sec: 109.327
INFO:tensorflow:loss = 2823.6616, step = 3001 (0.916 sec)
INFO:tensorflow:global_step/sec: 124.135
INFO:tensorflow:loss = 13147.165, step = 3101 (0.809 sec)
INFO:tensorflow:global_step/sec: 145.186
INFO:tensorflow:loss = 3888.3096, step = 3201 (0.685 sec)
INFO:tensorflow:global_step/sec: 140.171
INFO:tensorflow:loss = 1508.187, step = 3301 (0.715 sec)
INFO:tensorflow:global_step/sec: 128.039
INFO:tensorflow:loss = 7159.5854, step = 3401 (0.783 sec)
INFO:tensorflow:global_step/sec: 146.226
INFO:tensorflow:loss = 1740.7965, step = 3501 (0.677 sec)
INFO:tensorflow:global_step/sec: 141.71
INFO:tensorflow:loss = 6078.9507, step = 3601 (0.710 sec)
INFO:tensorflow:global_step/sec: 128.319
INFO:tensorflow:loss = 1115.7198, step = 3701 (0.778 sec)
INFO:tensorflow:global_step/sec: 133.069
INFO:tensorflow:loss = 5679.28, step = 3801 (0.749 sec)
INFO:tensorflow:global_step/sec: 145.11
INFO:tensorflow:loss = 4726.201, step = 3901 (0.689 sec)
INFO:tensorflow:global_step/sec: 131.046
INFO:tensorflow:loss = 969.8971, step = 4001 (0.764 sec)
INFO:tensorflow:global_step/sec: 134.753
INFO:tensorflow:loss = 4399.881, step = 4101 (0.742 sec)
INFO:tensorflow:global_step/sec: 123.723
INFO:tensorflow:loss = 701.45325, step = 4201 (0.808 sec)
INFO:tensorflow:global_step/sec: 138.456
INFO:tensorflow:loss = 3369.3098, step = 4301 (0.722 sec)
INFO:tensorflow:global_step/sec: 119.905
INFO:tensorflow:loss = 8469.639, step = 4401 (0.842 sec)
INFO:tensorflow:global_step/sec: 101.255
INFO:tensorflow:loss = 2115.7085, step = 4501 (0.986 sec)
INFO:tensorflow:global_step/sec: 87.5587
INFO:tensorflow:loss = 938.5083, step = 4601 (1.142 sec)
INFO:tensorflow:global_step/sec: 121.156
INFO:tensorflow:loss = 11095.016, step = 4701 (0.823 sec)
INFO:tensorflow:global_step/sec: 149.13
INFO:tensorflow:loss = 397.7669, step = 4801 (0.667 sec)
INFO:tensorflow:global_step/sec: 145.851
INFO:tensorflow:loss = 853.0086, step = 4901 (0.686 sec)
INFO:tensorflow:global_step/sec: 144.697
INFO:tensorflow:loss = 392.22443, step = 5001 (0.691 sec)
INFO:tensorflow:global_step/sec: 117.687
INFO:tensorflow:loss = 4067.5393, step = 5101 (0.850 sec)
INFO:tensorflow:global_step/sec: 90.7263
INFO:tensorflow:loss = 1442.0773, step = 5201 (1.102 sec)
INFO:tensorflow:global_step/sec: 122.767
INFO:tensorflow:loss = 1368.71, step = 5301 (0.814 sec)
INFO:tensorflow:global_step/sec: 113.174
INFO:tensorflow:loss = 576.4753, step = 5401 (0.889 sec)
INFO:tensorflow:global_step/sec: 102.058
INFO:tensorflow:loss = 4996.704, step = 5501 (0.975 sec)
INFO:tensorflow:global_step/sec: 106.582
INFO:tensorflow:loss = 2225.5588, step = 5601 (0.941 sec)
INFO:tensorflow:global_step/sec: 150.379
INFO:tensorflow:loss = 5772.2817, step = 5701 (0.668 sec)
INFO:tensorflow:global_step/sec: 151.792
INFO:tensorflow:loss = 2510.253, step = 5801 (0.657 sec)
INFO:tensorflow:global_step/sec: 98.8854
INFO:tensorflow:loss = 2433.5618, step = 5901 (1.017 sec)
INFO:tensorflow:global_step/sec: 131.386
INFO:tensorflow:loss = 2108.475, step = 6001 (0.753 sec)
INFO:tensorflow:global_step/sec: 140.984
INFO:tensorflow:loss = 480.64978, step = 6101 (0.710 sec)
INFO:tensorflow:global_step/sec: 132.891
INFO:tensorflow:loss = 237.27478, step = 6201 (0.751 sec)
INFO:tensorflow:global_step/sec: 136.628
INFO:tensorflow:loss = 434.8268, step = 6301 (0.732 sec)
INFO:tensorflow:global_step/sec: 124.593
INFO:tensorflow:loss = 4500.7783, step = 6401 (0.803 sec)
INFO:tensorflow:global_step/sec: 124.421
INFO:tensorflow:loss = 535.2892, step = 6501 (0.803 sec)
INFO:tensorflow:global_step/sec: 121.375
INFO:tensorflow:loss = 1515.2205, step = 6601 (0.824 sec)
INFO:tensorflow:global_step/sec: 156.524
INFO:tensorflow:loss = 535.56525, step = 6701 (0.641 sec)
INFO:tensorflow:global_step/sec: 141.807
INFO:tensorflow:loss = 1254.0865, step = 6801 (0.705 sec)
INFO:tensorflow:global_step/sec: 135.1
INFO:tensorflow:loss = 180.47104, step = 6901 (0.748 sec)
INFO:tensorflow:global_step/sec: 139.392
INFO:tensorflow:loss = 2743.75, step = 7001 (0.715 sec)
INFO:tensorflow:global_step/sec: 140.052
INFO:tensorflow:loss = 565.8695, step = 7101 (0.708 sec)
INFO:tensorflow:global_step/sec: 117.94
INFO:tensorflow:loss = 532.9994, step = 7201 (0.850 sec)
INFO:tensorflow:global_step/sec: 117.916
INFO:tensorflow:loss = 1484.1869, step = 7301 (0.845 sec)
INFO:tensorflow:global_step/sec: 121.506
INFO:tensorflow:loss = 0.0015317033, step = 7401 (0.829 sec)
INFO:tensorflow:global_step/sec: 129.975
INFO:tensorflow:loss = 3704.3726, step = 7501 (0.767 sec)
INFO:tensorflow:global_step/sec: 122.883
INFO:tensorflow:loss = 279.5995, step = 7601 (0.813 sec)
INFO:tensorflow:global_step/sec: 113.464
INFO:tensorflow:loss = 446.9662, step = 7701 (0.882 sec)
INFO:tensorflow:global_step/sec: 103.219
INFO:tensorflow:loss = 2684.1152, step = 7801 (0.972 sec)
INFO:tensorflow:global_step/sec: 100.079
INFO:tensorflow:loss = 2350.4248, step = 7901 (0.997 sec)
INFO:tensorflow:global_step/sec: 147.315
INFO:tensorflow:loss = 706.8209, step = 8001 (0.674 sec)

INFO:tensorflow:global_step/sec: 136.181
INFO:tensorflow:loss = 451.7268, step = 8101 (0.741 sec)
INFO:tensorflow:global_step/sec: 138.207
INFO:tensorflow:loss = 509.4805, step = 8201 (0.717 sec)
INFO:tensorflow:global_step/sec: 145.224
INFO:tensorflow:loss = 1497.1812, step = 8301 (0.689 sec)
INFO:tensorflow:global_step/sec: 135.658
INFO:tensorflow:loss = 2188.8726, step = 8401 (0.737 sec)
INFO:tensorflow:global_step/sec: 140.714
INFO:tensorflow:loss = 1314.6506, step = 8501 (0.711 sec)
INFO:tensorflow:global_step/sec: 135.646
INFO:tensorflow:loss = 3720.7456, step = 8601 (0.737 sec)
INFO:tensorflow:global_step/sec: 163.531
INFO:tensorflow:loss = 1097.5215, step = 8701 (0.611 sec)
INFO:tensorflow:global_step/sec: 151.589
INFO:tensorflow:loss = 6187.822, step = 8801 (0.660 sec)
INFO:tensorflow:global_step/sec: 156.86
INFO:tensorflow:loss = 2557.0781, step = 8901 (0.637 sec)
INFO:tensorflow:global_step/sec: 142.219
INFO:tensorflow:loss = 3793.7354, step = 9001 (0.705 sec)
INFO:tensorflow:global_step/sec: 152.08
INFO:tensorflow:loss = 1134.4993, step = 9101 (0.655 sec)
INFO:tensorflow:global_step/sec: 155.157
INFO:tensorflow:loss = 745.87305, step = 9201 (0.645 sec)
INFO:tensorflow:global_step/sec: 154.736
INFO:tensorflow:loss = 91.27012, step = 9301 (0.646 sec)
INFO:tensorflow:global_step/sec: 162.425
INFO:tensorflow:loss = 782.01154, step = 9401 (0.615 sec)
INFO:tensorflow:global_step/sec: 156.319
INFO:tensorflow:loss = 418.6573, step = 9501 (0.640 sec)
INFO:tensorflow:global_step/sec: 150.093
INFO:tensorflow:loss = 837.35046, step = 9601 (0.667 sec)
INFO:tensorflow:global_step/sec: 141.077
INFO:tensorflow:loss = 226.10988, step = 9701 (0.714 sec)
INFO:tensorflow:global_step/sec: 138.878
INFO:tensorflow:loss = 2223.2146, step = 9801 (0.714 sec)
INFO:tensorflow:global_step/sec: 153.725
INFO:tensorflow:loss = 1726.171, step = 9901 (0.650 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /tmp/tmp2faq53dd/model.ckpt.
INFO:tensorflow:Loss for final step: 3512.857.

In [ ]:
funcao_previsao = tf.estimator.inputs.pandas_input_fn(x = X_teste, batch_size = 32, shuffle = False)

In [ ]:
previsoes = classificador.predict(input_fn=funcao_previsao)

In [ ]:
list(previsoes)

In [ ]:
previsoes_final = []
for p in classificador.predict(input_fn=funcao_previsao):
    previsoes_final.append(p['class_ids'])

In [ ]:
previsoes_final

In [ ]:
from sklearn.metrics import accuracy_score
taxa_acerto = accuracy_score(y_teste, previsoes_final)
taxa_acerto