In [4]:
import pandas as pd
base = pd.read_csv('breast-cancer.csv')
base.head()

,code_number,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epitelial_cell_size,bare_nuclei,bland_chromation,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,benign
1,1002945,5,4,4,5,7,10,3,2,1,benign
2,1015425,3,1,1,1,2,2,3,1,1,benign
3,1016277,6,8,8,1,3,4,3,7,1,benign
4,1017023,4,1,1,3,2,1,3,1,1,benign